<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <add key="defaultPushSource" value="http://baget/v3/index.json" />
  </config>
  <packageSources>
    <clear />
    <add key="baget" value="http://baget/v3/index.json"/>
  </packageSources>
  <apikeys>
    <add key="http://baget/v3/index.json" value="petting" />
  </apikeys>
</configuration>
